.agents/
.canvas/
attached_assets/

Microsoft/
Microsoft/Windows/
Microsoft/Windows/WinPadVersionController/

exeout/

.replit
replit.md
replit.nix

*.tar.gz

logicsyscache.dat
syscache.dat

model.exouim

start.sh